body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: rgb(239, 239, 239);
}

/* HEADING */
header {
  height: 70px;
  padding-top: 4px;
  
}

.title {
  display: inline-block;
  margin-left: 580px;
  font-size: 36px;
  font-weight: 700;
  margin-top: 18px;
  font-family: Montserrat;
}

.title-sub {
  display: inline-block;
  vertical-align: bottom;
}
.header-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.brototype-title {
  font-size: 19.2px;
  font-weight: 700;
}
.bro {
  background-color: black;
  color: white;
  padding: 2px;
}

/* ssection 1 Home page */

.home-page {
  margin-top: 30px;
  margin-left: 211px;
  margin-bottom: 50px;
}
.whats_brocamp-img-container {
  display: inline-block;
}
.whats_brocamp-img {
  height: 357px;
  width: 635px;
}

.home-page-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 55px;
  margin-top: 2px;
}

.home-page-info-heading {
  display: inline-block;
  font-size: 40px;
  width: 350px;
  font-weight: 720;
  line-height: 48px;
}

.home-page-info-details {
  margin-top: 0px;
  line-height: 27.2px;
  color: rgb(88, 86, 86);
  width: 400px;
}

.apply-button {
  background-color: rgb(0, 210, 181);
  border: 1px solid rgb(0, 210, 181);
  padding: 14px 35px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(34, 33, 33);
  border-radius: 30px;
  transition: background-color 0.15s;
  cursor: pointer;
}

.apply-button:hover {
  background-color: rgb(239, 239, 239);
}

.misc1 {
  margin-top: 10px;
}

.faq-link {
  text-decoration: none;
  color: rgb(0, 210, 181);
  cursor: pointer;
}

.phone-logo-fixed{
    width: 38px;
    vertical-align: middle;
    cursor: pointer;
    
    
}
.phone-logo-fixed-container{
  padding: 15px 12px;
  width: max-content;
  background-color:  rgb(0, 210, 181);
  border-radius: 50px;
  position: fixed;
  bottom: 110px;
  right: 25px;
  box-shadow: 1px 1px 3px 0.2px rgb(120, 118, 118);
}
/* section2 feautures*/

.features {
  background-color: rgb(246, 246, 246);
}
.features-title {
  font-size: 40px;
  margin-left: 640px;
  font-weight: 720;
  padding-top: 20px;
}

.features-flex {
  display: flex;
  height: 340px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
}
.box-features {
  background-color: white;
  height: 245px;
  width: 330px;
  border: 1px solid white;
  border-radius: 3px;
  transition: transform 0.3s;
  border-radius: 5px;
}

.box1 {
  margin-left: 181px;
  transition: transform 0.3s;
}

.box1:hover,
.box2:hover,
.box3:hover {
  transform: translateY(-8px);
  background-color: rgb(0, 210, 181);
  color: white;
  .features-details,
  .features-details p {
    color: white;
  }
}

.box3 {
  margin-right: 181px;
  transition: transform 0.3s;
}

.features-details {
  text-align: left;
  width: 290px;
  font-size: 15px;
  margin-top: 82px;
  margin-left: 25px;
  color: rgb(107, 105, 105);
  line-height: 24px;
}

.features-details p {
  color: black;
  font-size: 17px;
}
/* section 3 how brocamp works in brief */

.bro-in-brief {
  margin-left: 211px;
  margin-top: 66px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(217, 212, 212);
  width: 1100px;
  margin-bottom: 60px;
}
.Howbrocampworks-img-container {
  display: inline-block;
  vertical-align: top;
}

.Howbrocampworks-details {
  display: inline-block;
  width: 412px;
  text-align: left;
  margin-left: 45px;
  line-height: 26px;
  color: rgb(88, 86, 86);
}

.Howbrocampworks-img {
  height: 357px;
  width: 634px;
}

.Howbrocampworks-details h2 {
  margin-top: 10px;
  font-size: 40px;
  color: black;
}

/* section 4 life at brocamp */
.life-at-bro {
  margin-left: 220px;
  margin-top: 100px;
  color: rgb(151, 146, 146);
  width: 1100px;
  font-size: 16px;
}

.life-at-bro h2 {
  font-size: 40px;
  font-weight: 720;
  border-bottom: 1px solid rgb(217, 212, 212);
  padding-bottom: 20px;
  width: 1100px;
  color: black;
}

.life-at-bro p {
  margin-top: 0px;
  margin-bottom: 7px;
  color: black;
}

.life-at-bro-box-container {
  padding-right: 80px;
  padding-left: 80px;
}

.life-at-bro-box,
.want-to-join-box {
  padding: 23px 100px 40px 100px;
  line-height: 26px;
}

.life-at-bro-box1 {
  position: relative;
}
.life-at-bro-box1::before {
  position: absolute;
  content: "";
  height: 67px;
  width: 800px;
  left: 0px;
  bottom: 0px;
  border-left: 3px solid rgb(0, 210, 181);
  border-bottom: 3px solid rgb(0, 210, 181);
  border-bottom-left-radius: 15px;
}

.life-at-bro-box2 {
  position: relative;
  text-align: right;
  margin-top: -2.5px;
  line-height: 26px;
}

.life-at-bro-box2::before {
  position: absolute;
  content: "";
  width: 135px;
  height: 80px;
  top: 0px;
  right: 0px;
  border-top: 3px solid rgb(0, 210, 181);
  border-right: 3px solid rgb(0, 210, 181);
  border-top-right-radius: 15px;
  /* border-bottom-right-radius: 15px; */
}

.life-at-bro-box2::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 50px;
  bottom: 0px;
  right: 0px;
  border-bottom: 3px solid rgb(0, 210, 181);
  border-right: 3px solid rgb(0, 210, 181);
  border-bottom-right-radius: 15px;
}
.life-at-bro-box3 {
  position: relative;
}

.life-at-bro-box3:before {
  position: absolute;
  content: "";
  height: 67px;
  width: 900px;
  top: 0px;
  left: 0px;
  border-top: 3px solid rgb(0, 210, 181);
  border-left: 3px solid rgb(0, 210, 181);
  border-top-left-radius: 15px;
  margin-top: -2.5px;
}

.number {
  position: absolute;
  background-color: rgb(0, 210, 181);
  height: 48px;
  width: 46.2px;
  content: "";
  font-size: 15px;
  color: white;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  border-radius: 24px;
}

.num1 {
  left: -22px;
  bottom: 35px;
}

.num2 {
  right: -22px;
  bottom: 50px;
}

.num3 {
  left: -22px;
  top: 35px;
}

.life-at-bro-img {
  height: 608px;
  width: 1080px;
}

.life-at-bro-img-container {
  margin-top: 50px;
  margin-bottom: 75px;
}

/* Section 5 what domain to choose */

.what-domain {
  background-color: rgb(246, 246, 246);
}

.domain-container {
  width: 1060px;
  margin-left: 220px;
  padding-bottom: 50px;
}

.domain-container h2 {
  font-size: 40px;
  padding-top: 18px;
}
.domain-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 27px;
  margin-top: 50px;
}

.domain-box {
  background-color: white;
  text-align: left;
  padding: 45px 30px 38px 30px;
  transition: transform 0.3s;
  border-radius: 5px;
}

.domain-box-p {
  margin-bottom: 0px;
  font-size: 15px;
  color: rgb(181, 178, 178);
}

.domain-box:hover {
  transform: translateY(-5px);
  background-color: rgb(0, 210, 181);
  color: white;
  .domain-box-p {
    color: white;
  }
}
/* section want to join brocamp */

.want-to-join {
  padding-left: 220px;
  padding-right: 220px;
}

.want-to-join img {
  width: 1060px;
}

.want-to-join-img-container {
  padding-left: 10px;
  padding-right: 10px;
}
.want-to-join h2 {
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 25px;
  margin-bottom: 92px;
  border-bottom: 1px solid rgb(217, 212, 212);
}

.join-roadmap-container {
  margin-top: 42px;
  margin-bottom: 60px;
  /* font-size: ; */
  color: rgb(156, 154, 154);
}

.want-to-join-box-container {
  padding-left: 80px;
  padding-right: 80px;
}
.want-to-join-box {
  /* border-top: 3px solid rgb(0, 210, 181); */
  padding-left: 80px;
  position: relative;
}

.want-to-join-box p {
  color: black;
}
.want-to-join-box1 {
  position: relative;
  text-align: right;
}

.want-to-join-box2 {
  position: relative;
  padding-bottom: 20px;
  padding-top: 7px;
  margin: -2px;
  /* padding-left: 85px; */
}

.want-to-join-box3 {
  text-align: right;
  position: relative;
  padding-bottom: 25px;
}

.num1-want {
  right: -22px;
  bottom: 55px;
}

.num2-want {
  left: -31px;
  bottom: 45px;
}

.num3-want {
  right: -22px;
  top: 55px;
}

.want-to-join-box1::before {
  position: absolute;
  content: "";
  height: 67px;
  width: 919px;
  left: 0px;
  bottom: 0px;
  border-right: 3px solid rgb(0, 210, 181);
  border-bottom: 3px solid rgb(0, 210, 181);
  border-bottom-right-radius: 15px;
}

.want-to-join-box2::before {
  position: absolute;
  content: "";
  width: 135px;
  height: 80px;
  top: 0px;
  left: 0px;
  border-top: 3px solid rgb(0, 210, 181);
  border-left: 3px solid rgb(0, 210, 181);
  border-top-left-radius: 15px;
  /* border-bottom-right-radius: 15px; */
  margin-left: -9px;
}

.want-to-join-box2::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 55px;
  bottom: 0px;
  left: 0px;
  border-bottom: 3px solid rgb(0, 210, 181);
  border-left: 3px solid rgb(0, 210, 181);
  border-bottom-left-radius: 15px;
  margin-left: -9px;
}

.want-to-join-box3:before {
  position: absolute;
  content: "";
  height: 67px;
  width: 900px;
  top: 0px;
  right: 0px;
  border-top: 3px solid rgb(0, 210, 181);
  border-right: 3px solid rgb(0, 210, 181);
  border-top-right-radius: 15px;
  margin-top: -1px;
}

.convocation-title {
  padding-bottom: 20px;
  width: 265px;
}
.convocation-img-container {
  margin-bottom: 80px;
}

/* section faq */

.faq-container {
  display: inline-block;
}
.faq {
  padding-left: 207px;
  /* padding-right: 220px; */
}

.faq-img {
  width: 560px;
}

.faq h2 {
  font-size: 40px;
  margin-top: 0px;
  /* margin-left: -10px; */
  width: 540px;
  border-bottom: 1px solid rgb(217, 212, 212);
  padding-bottom: 20px;
}

.address {
  vertical-align: top;
  display: inline-block;
  width: 500px;
  height: 500px;
  margin-left: 100px;
  margin-top: 110px;
}

.address-imgs {
  display: inline-block;
  height: 326px;
  vertical-align: top;
}

.address-img {
  width: 16px;
  vertical-align: top;
  margin-top: 10px;
}

.phone-img {
  width: 21px;
  margin-top: 283px;
}
.mail-img {
  width: 18px;
  margin-top: 90px;
}
.address-details-container {
  display: inline-block;
  width: max-content;
  margin-left: 20px;
  line-height: 37px;
  font-size: 15px;
  color: rgb(0, 210, 181);
  font-weight: 400px;
}

.address-details-container p {
  margin-top: 0px;
  font-weight: 500;
  font-size: 18px;
  color: black;
  margin-bottom: 0px;
}

.general-support-text {
  line-height: 24px;
  margin-top: 44px;
}

.general-support-text p {
  margin-bottom: 20px;
}
.lets-talk {
  margin-top: 42px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 130px;
  padding-left: 695px;
  padding-right: 800px;
}

.icon {
  width: 20px;
  /* background-color: white; */
  color: rgb(0, 210, 181);
}

.youtube-icon {
  margin-right: 30px;
  margin-left: 30px;
}

.copyright {
  color: rgb(156, 153, 153);
  margin-left: 575px;
  margin-top: 50px;
  margin-bottom: 50px;
}
